# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
pip-wheel-metadata/

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django/Wagtail specific
*.log
*.pot
*.mo
*.db
*.sqlite3
*.pyc
local_settings.py
settings/local.py
instance/
media/
/staticfiles/

# VSCode and other IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific
.DS_Store
Thumbs.db

# dotenv
.env.*
*.env

# Node (if using for frontend assets)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverage and testing
htmlcov/
.coverage
.tox/
.nox/
.pytest_cache/
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Migrations (optional, if you want to ignore them)
# **/migrations/
# !**/migrations/__init__.py


# docker
Dockerfile
.dockerignore
docker-compose.yml


# secrets
.secret